body 
{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:focus
{
    outline:0;
}

.calculator-container
{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display 
{
    border: 0.2px black solid;
    border-radius: 8px;
    border-color: transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
    font-size: 30px;
}

.calculator {
    display: grid;
    grid-template-columns: minmax(50px, 100px) minmax(50px, 100px) minmax(50px, 100px) minmax(50px, 100px);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    grid-gap: 20px;
    border: 2px black solid;
    max-width: 460px;
    border-radius: 8px;
    border-color: transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    background-color: #14cc60;
}
.display {
    grid-column: 1 / span 4;
    text-align: right;
    order: -1;
}

.number, .operator, #clear, #equals
{
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    font-size: medium;
}

#seven
{
    order: 0;
}
#eight
{
    order: 1;
}
#nine
{
    order: 2;
}
#divide
{
    order: 3;
}
#four
{
    order: 4;
}
#five
{
    order: 5;
}
#six
{
    order: 6;
}
#multiply
{
    order: 7;
}
#one
{
    order:8
}
#two
{
    order: 9;
}
#three
{
    order: 10;
}
#plus
{
    order: 11;
}
#zero
{
    order: 12;
}
#clear
{
    order: 13;
}
#equals
{
    order: 14;
}
#minus
{
    order: 15;
}